[buildout]
develop = .
extends =
parts = py.test
extensions = mr.developer
versions = versions
find-links = http://pypi.dolmen-project.org/find-links
sources = sources
auto-checkout = *
always-checkout = true
sources-dir = checkouts
newest = false
show-picked-versions = true


[sources]
crom = git git@github.com:trollfot/crom.git
grokker = git git@github.com:trollfot/grokker.git
cromlech.browser = git gitosis@devel.dolmen-project.org:cromlech.browser.git branch=crom
cromlech.i18n = git gitosis@devel.dolmen-project.org:cromlech.i18n.git branch=crom


[versions]
venusian = 1.0a8
BeautifulSoup = 3.2.1
distribute = 0.6.36
mr.developer = 1.25
py = 1.4.13
pytest = 2.3.4
zc.buildout = 2.1.0
zc.recipe.egg = 2.0.0
zope.configuration = 4.0.2
zope.proxy = 4.1.1
oset = 0.1.3
translationstring = 1.1
zope.event = 4.0.2
zope.i18nmessageid = 4.0.2
zope.interface = 4.0.5
zope.location = 4.0.0
zope.schema = 4.3.2


[py.test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
eggs =
     pytest
     dolmen.view [test]
